body, html {
    padding: 0px;
    margin: 0px;
    text-decoration: center;
    text-align: center;
    background-color: whitesmoke;
}

header {
    font-size: 30px;
    color: midnightblue;
}

table {
    border-spacing: 5rem;
    margin-left:auto; 
    margin-right:auto;
}

th, td {
    width: 30px;
    height: 30px;
    border: 5px dashed darkcyan;
    font-size: 25px;
    color: dimgray;
    font-weight: 300;
}

#player1 {
    font-size: 25px;
    height: 40px;
    font-weight: 100;
    color: rgb(119, 6, 6);
}

#player2 {
    font-size: 25px;
    height: 40px;
    font-weight: 100;
    color: rgb(175, 76, 76);
}