table {
    table-layout: fixed;
    width: 75%;
    text-align: left;
    border-collapse: collapse;
}

td {
    width: 25%;
}

form {
    width: 75%;
    margin-top: 50px;
}

td, tr {
    /* border: 1px solid black; */
    border-bottom: 3 px solid black;
}